/* Custom Style by Damian Dabrowski
*
* #f8981c /orange
* #bcbbbb /grey
* #747704 /darkgreen
*/


body {
	font: 100%/1.6 "Lato", sans-serif;
	color: #747704;
}


/* Header */
header {
	margin: 20px 0 0;
}


h1.name {
	margin: 0;
	font-weight: 100;
}


h3.slogan {
  margin: 10px 0 0;
	font-weight: 300;
}


@media screen and (max-width: 520px) {
  h1.name,
  h3.slogan {
    font-size: 2em;
  }
}


hr {
	border: 1px solid #bcbbbb;
}


/* Portfolio */
.portfolio h2 {
	color: #bcbbbb;
	padding: 15px 0 0 10px;
}


.portfolio-item {
	text-align: center;
}


.portfolio-item img {
	cursor: pointer;
  padding: 10px 0 0;
}


.portfolio-item a {

	font-weight: 100;
	font-size: 1.4em;
	color: #747704;
}


/* Modal */
.modal-body img {
	margin: 0 0 20px;
}

/* Footer */
footer {
	text-align: center;
}
