/* Custom Style by Damian Dabrowski
*
* #f8981c /orange
* #bcbbbb /grey
* #747704 /darkgreen
*/


body {
	font-family: "Lato", sans-serif;
	color: #747704;
}


/* Header */
header {
	margin: 20px 0 0;
}


h1.name {
	margin: 10px 0 10px;
	font-weight: 100;
}


h3.slogan {
	margin: 0 0 10px;
	font-weight: 300;
}


hr {
	border: 1px solid #bcbbbb;
}


/* Portfolio */
.portfolio h2 {
	color: #bcbbbb;
	padding: 15px 0 10px 10px;
}


.portfolio-item {
	text-align: center;
}


.portfolio-item img {
	cursor: pointer;
}


.portfolio-item a {
	font-weight: 100;
	font-size: 0.9em;
	color: #747704;
}


/* Modal */
.modal-body img {
	margin: 0 0 20px;
}

/* Footer */
footer {
	text-align: center;
}
